.authorPhoto {
  width: 200px;
  height: 293px;
  background-image: url('/niamh.jpeg');
  background-size: cover;
  margin: 0 auto 20px;
}

.aboutPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse; 
}

@media only screen and (min-width: 600px) {
  .aboutPage {
    flex-direction: row;
  }
  .column {
    width: 50%;
  }
}

@media only screen and (min-width: 700px) {
  .authorPhoto {
    width: 300px;
    height: 439px;
  }
}

.copy {
  padding-right: 20px;
}