.homeLink {
  color: black;
  background-color: #FDC2B1;
}

.authorPhoto {
  width: 200px;
  margin: 0 auto 20px;
}

.aboutPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse; 
}

@media only screen and (min-width: 600px) {
  .aboutPage {
    flex-direction: row;
  }
  .authorPhoto {
    width: 40vw;
    max-width: 300px;
  }
}

.copy {
  padding-right: 20px;
}