.main {
  width: 80%;
  margin: 4em auto;
  max-width: 800px;
}

.footer {
  margin: 0 auto;
  width: fit-content;
}

.footer img {
  margin: 15px;
  width: 30px;
}

.name-header {
  text-decoration: none;
}

.heading {
  margin-bottom: 0;
}

.contact {
  display: block;
  margin-bottom: 1em;
  margin-right: 2em;
  text-align: right;
}

.profile-photo {
  width: 100%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  @media only screen and (min-width: 600px) {
    width: 50%;
  }
}
