body {
  margin: 0;
  font-family: "Palatino Linotype";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: normal;
  font-size: 44px;
}

a {
  color: black;
}